.toolbar-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #000;
}

button[mat-icon-button] {
  color: white;
}
a {
  text-decoration: none;
  font-size: 35px;
  color: red;
}

button[type="menu"] {
  color: red;
}
