<mat-toolbar role="heading">
  <button
    [autofocus]="false"
    mat-icon-button
    aria-label=" icon-button with menu icon"
    (click)="drawer.toggle()"
    type="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/home">
    <span>{{ "Jitflix" | uppercase }}</span>
  </a>
  <span class="toolbar-spacer"></span>
  <ng-container *ngIf="!isAuthenticated; else loggedIn">
    <button
      mat-icon-button
      aria-label=" icon-button with heart icon"
      (click)="navigateToLogin()"
    >
      <mat-icon>login</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<ng-template #loggedIn>
  <button
    mat-icon-button
    aria-label=" icon-button with heart icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</ng-template>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>View account</span>
  </button>

  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
