<div class="side-nav-dialog">
  <mat-toolbar>
    <button
      mat-icon-button
      aria-label=" icon-button with menu icon"
      (click)="closeDialog()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Jitflix</span>
  </mat-toolbar>

  <ul class="side-nav-list">
    <li>
      <a routerLink="/home" routerLinkActive="active"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
        ></mat-icon
        ><span> Home </span>
      </a>
    </li>
    <li>
      <a routerLink="/movies" routerLinkActive="active"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="movie"
        ></mat-icon
        ><span> Movies </span>
      </a>
    </li>
    <li>
      <a routerLink="/video-call" routerLinkActive="active"
        ><mat-icon
          aria-hidden="false"
          aria-label="video-call icon"
          fontIcon="video_call"
        ></mat-icon
        ><span> Video call </span>
      </a>
    </li>
    <li>
      <a routerLink="/streaming" routerLinkActive="active"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="live_tv"
        ></mat-icon
        ><span> Live streams </span>
      </a>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="settings"
        ></mat-icon
        ><span> Settings </span>
      </a>
    </li>
  </ul>
</div>
