<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'" [autoFocus]="false">
    <div style="background: black" class="mat-toolbar-row">
      <button
        mat-icon-button
        aria-label=" icon-button with menu icon"
        style="color: red"
        (click)="toggleDrawer($event)"
        type="menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span style="color: red; font-size: 35px">{{
        "Jitflix" | uppercase
      }}</span>
    </div>
    <ul>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          (click)="toggleDrawer($event)"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
          ></mat-icon
          ><span> Home </span>
        </a>
      </li>
      <li>
        <a
          routerLink="/movies"
          routerLinkActive="active"
          (click)="toggleDrawer($event)"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="movie"
          ></mat-icon
          ><span> Movies </span>
        </a>
      </li>
      <li>
        <a
          routerLink="/streaming"
          routerLinkActive="active"
          (click)="toggleDrawer($event)"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="streaming"
          ></mat-icon
          ><span> Streaming </span>
        </a>
      </li>
      <li>
        <a
          routerLink="/settings"
          routerLinkActive="active"
          (click)="toggleDrawer($event)"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="settings"
          ></mat-icon
          ><span> Settings </span>
        </a>
      </li>
    </ul>
  </mat-drawer>

  <mat-drawer-content>
    <app-header [drawer]="drawer"></app-header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<!-- <router-outlet></router-outlet> -->
