.side-nav-dialog>ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
}


.side-nav-dialog>ul>li {
      padding: 10;
      margin: 0;
}

.side-nav-dialog>ul>li>a {
      text-decoration: none;
      color: #000;
      font-size: 20px;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 10px;
}

.side-nav-list {
      top: 24px;
      left: 24px;
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 10px;
      width: fit-content;
}

.side-nav-dialog {
      overflow: hidden;
      /* height: 100%; */
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */

}

.side-nav-dialog::-webkit-scrollbar {
      display: none;
}