.side-nav-dialog>ul {
      list-style-type: none;
      /* padding: 24px; */
      padding: 0;
      margin: 0;
}


.side-nav-dialog>ul>li {
      padding: 10;
      margin: 0;
}

.side-nav-dialog>ul>li>a {
      text-decoration: none;
      color: #000;
      font-size: 20px;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: all .4s ease-in-out;
      text-shadow: 0 0 1px rgb(255, 255, 255);
}

.side-nav-list {
      top: 24px;
      left: 24px;
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 10px;
      /* width: auto; */
}

.side-nav-dialog {
      overflow: hidden;
      /* height: 100%; */
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
      height: -webkit-fill-available;

}

.side-nav-dialog::-webkit-scrollbar {
      display: none;
}

.side-nav-dialog>ul>li>a:hover {

      transform: scale(1.1) translate3d(5px, 0%, 3em);
      transform-style: preserve-3d;
      color: #fff;
      /* box-shadow: 0 0 5px #ffee10; */
      text-shadow: 0 0 20px white;

}

a mat-icon {
      text-shadow: 0 0 1px rgb(255, 255, 255);
      /* font-size: 30px; */
      /* color: #000; */
      /* transition: all .4s ease-in-out; */
}