.liveStream-container {
      margin: auto;
      margin-top: 8rem;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;

}

.liveStream-container>video {
      margin-left: 2rem;
      max-height: 720px;
      aspect-ratio: 4/3
}

.liveStream-container>form {
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

}