.example-card {
      height: 600px;
      max-width: 400px;
      background-color: rgb(237, 111, 120);
      border-radius: 25px;
      overflow: hidden;
      box-sizing: content-box;
}

.example-card>img {
      max-height: 70%;

      width: 100%;
      object-fit: contain;
}


.example-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
}

mat-card-subtitle {
      color: rgb(255, 190, 27);
      font-weight: 700;
      font-size: large;
}

mat-card-content>p {
      text-overflow: clip;
}

mat-card-title {
      text-overflow: ellipsis;
      line-height: normal;

}