<div *ngIf="movieResponse$ | async as movieData" class="media-container">
  <div class="media-row">
    <div class="video-col">
      <app-vjs-player [movieId]="movieData.movie.id"></app-vjs-player>
      <app-comments [comments]="movieData.comments"></app-comments>
      <div class="movie-data">
        <h1>{{ movieData.movie.title }}</h1>
        <p>{{ movieData.movie.plot }}</p>
        <p>
          Rated: <span>{{ movieData.movie.rated }}</span>
        </p>
        <p>
          Released:
          <span>
            {{ movieData.movie.released | date : "mediumDate" }}
          </span>
        </p>
        <p>
          Runtime: <span>{{ movieData.movie.runtime }}</span>
        </p>
        <p>
          Genres:
          <span *ngFor="let genre of movieData.movie.genres; let i = index"
            >{{ genre
            }}{{ i !== movieData.movie.genres.length - 1 ? ", " : "" }}</span
          >
        </p>

        <p>
          Directors:
          <span
            *ngFor="let director of movieData.movie.directors; let i = index"
            >{{ director
            }}{{ i !== movieData.movie.directors.length - 1 ? ", " : "" }}</span
          >
        </p>
        <p>
          Writers:
          <span *ngFor="let writer of movieData.movie.writers; let i = index"
            >{{ writer
            }}{{ i !== movieData.movie.writers.length - 1 ? ", " : "" }}</span
          >
        </p>
        <p>
          Actors:
          <span *ngFor="let actor of movieData.movie.cast; let i = index"
            >{{ actor
            }}{{ i !== movieData.movie.cast.length - 1 ? ", " : "" }}</span
          >
        </p>
        <p>
          Full Plot:
          <span>{{ movieData.movie.fullplot }}</span>
        </p>
      </div>
    </div>
    <img
      mat-card-image
      src="{{
        movieData.movie.poster
          ? movieData.movie.poster
          : 'https://material.angular.io/assets/img/examples/shiba1.jpg'
      }}"
      onerror="this.remove()"
      alt="Photo of a movieData.movie.poster"
    />
  </div>
</div>
